* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
}

.widget {
  position: fixed;
  bottom: 5px;
  right: 30px;
  width: 350px;
  height: 600px;
  border: 2px solid black;
}