/* Общие правила */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 20px 0 40px;
  text-align: center;
}

/* Стиль описания страницы */

.description {
  width: 300px;
  margin: 20px auto 0;
}

/* Стили виджета */

.widget {
  position: fixed;
  bottom: 5px;
  right: 30px;
  width: 350px;
}

.widget_closed {
  bottom: 0;
}

.widget__button {
  width: 350px;
  min-height: 40px;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  background-color: #33bbff;
  cursor: pointer;
  outline: none;
}

.widget__container {
  height: 600px;
  border: 1px solid black;
  border-top: none;
  overflow: scroll;
}

.widget__container_closed {
  display: none;
}

/* Стили новости */

.article {
  position: relative;
  min-height: 100px;
  padding: 10px;
  border-bottom: 1px solid black;
  background-color: #c7e9fa;
}

.article:last-of-type {
  border-bottom: none;
}

.article_read {
  background-color: white;
}

.article__title {
  font-size: 18px;
  margin-bottom: 5px;
}

.article__status {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(resources/svg/message.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.article__status_read {
  background-image: url(resources/svg/message_read.svg);
}

.article__author {
  display: inline-block;
  margin-right: 8px;
  font-size: 13px;
  font-style: italic;
}

.article__date {
  display: inline-block;
  font-size: 13px;
  font-style: italic;
}

.article__link {
  display: block;
  width: fit-content;
  margin-top: 10px;
  color: blue;
}

/* Стили кнопки управления */

.button {
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px auto;
}

.button:first-of-type {
  margin-top: 50px;
}